
@{
    ViewBag.Title = "GetDonHang";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
	div.content div.col-md-3,div.content div.shoe{display:none;}
	div.content tbody tr td{
		line-height:150px;
		font-size:20px;
	}
	div.content tbody tr input{height:50px;width:50%;}
	div#TiepTuc a{font-size:30px;}
</style>
<div class="content">
	<table class="table">
		<thead>
			<tr>
				<th>Tên sản phẩm</th>
				<th>Giá</th>
				<th>Số lượng</th>
				<th>Thành tiền</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			<tr>
			</tr>
		</tbody>
		<tfoot>
			<tr>
				<td></td>
				<td></td>
				<td>Tổng tiền</td>
				<td id="TongTien"></td>
				<td></td>
			</tr>
		</tfoot>
	</table>
</div>
<div style="clear:both;width:100%" id="TiepTuc">
	<a href="@Url.Action("Index","Home")" style="float:left;"> Tiếp tục mua</a>
	<a href="javascript:void(0);" style="float:right;" data-toggle="modal" data-target="#myModal" onclick="LoadFormThanhToan()">Thanh toán</a>
</div>
<div id="myModal" class="modal fade" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Thông tin đặt hàng</h4>
			</div>
			<div class="modal-body">
				<form id="HoaDonSP">
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputEmail4">Email<span style="color:red;">*</span></label>
							<input type="email" class="form-control" id="inputEmail" placeholder="Email" required>
						</div>
						<div class="form-group col-md-6">
							<label>Phường/xã<span style="color:red;">*</span></label>
							<select class="form-control" id="PhuongXa" required>
								<option selected>Lựu chọn</option>
							</select>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="">Tên<span style="color:red;">*</span></label>
							<input type="text" class="form-control" placeholder="Họ và Tên" id="HoTen" required>
						</div>
						<div class="form-group col-md-6">
							<label for="inputPassword4">Địa chỉ nhận hàng(tầng, số, nhà, đường)</label>
							<input type="text" class="form-control" placeholder="Địa chỉ nhận hàng(tầng, số, nhà, đường)" id="SoNha" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputEmail4">Tỉnh/thành phố</label>
							<select type="text" class="form-control" id="TinhTP" onchange="LoadHuyen();" required>
								<option value="">Lựu chọn</option>
							</select>
						</div>
						<div class="form-group col-md-6">
							<label>Số điện thoại<span style="color:red;">*</span></label>
							<input type="text" pattern="[0][0-9]{8,12}" class="form-control" placeholder="Số điện thoại" id="SDT" required>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<label>Quận/huyện<span style="color:red;">*</span></label>
							<select class="form-control" id="QuanHuyen" onchange="LoadXa();" required>
								<option selected>Lựu chọn</option>
							</select>
						</div>
						<div class="form-group col-md-6">
						</div>
					</div>
					<div style="clear:both;">
						<button type="submit" class="btn btn-primary">Đặt hàng</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
@section scripts{
	<script>
		$('div.content div.col-md-9').removeClass('col-md-9');
		LoadDSGioHang();
		function LoadDSGioHang() {
			//$('div.content tbody').html(' ');
			var chuoi = '';
			if (sessionStorage["GioHang"].length > 2) {
				ShoppingCartItem = JSON.parse(sessionStorage["GioHang"].toString());
				var tongtien = 0;
				$.each(ShoppingCartItem, function (k, v) {
					tongtien += v.Gia * v.SoLuong;
					chuoi += '<tr>';
					chuoi += '<td class="col-md-5"><img src="' + v.HinhAnhSPs[0].DiaChi + '" height="150" width="150" />&nbsp;&nbsp;&nbsp;' + v.TenSp + '</td>';
					chuoi += '<td class="col-md-1">' + v.Gia + '</td>';
					chuoi += '<td class="col-md-1"><input id="SoLuong" type="number" value="' + v.SoLuong + '" min="0" onchange="ChangeSL(' + v.Id + ',this);"/></td>';
					chuoi += '<td class="col-md-1">' + v.Gia * v.SoLuong + '</td>';
					chuoi += '<td class="col-md-2"><a href="javascript:void(0);" onclick="XoaSPGioHang(' + v.Id + ')">Xóa</a></td>';
					chuoi += '</tr>';
				});
				$('div.content tfoot #TongTien').html(tongtien);
				$('div.content tbody').html(chuoi);
			} else {
				chuoi += '<div class="check-out">';
				chuoi += '<h4 class="title">Shopping cart is empty</h4>';
				chuoi += '<p class="cart-out">You have no items in your shopping cart.<br>Click<a href="@Url.Action("Index","Home")"> here</a> to continue shopping</p>';
				chuoi += '</div>';
				$('div.content').html(chuoi);
			}
		};
		function ChangeSL(id,e) {
			var sl = $(e).val();
			ShoppingCartItem = JSON.parse(sessionStorage["GioHang"].toString());
			for (var i = 0; i < ShoppingCartItem.length; i++) {
				if (ShoppingCartItem[i].Id == id) {
					if (sl == 0)
						ShoppingCartItem.splice(i, 1);
					else
						ShoppingCartItem[i].SoLuong = sl;
				}
			}
			sessionStorage["GioHang"] = JSON.stringify(ShoppingCartItem);
			HienThi();
			LoadDSGioHang();
		};

		function XoaSPGioHang(id) {
			ShoppingCartItem = JSON.parse(sessionStorage["GioHang"].toString());
			for (var i = 0; i < ShoppingCartItem.length; i++) {
				if (ShoppingCartItem[i].Id == id) {
					ShoppingCartItem.splice(i, 1);
				}
			}
			sessionStorage["GioHang"] = JSON.stringify(ShoppingCartItem);
			HienThi();
			LoadDSGioHang();
		};
		var cors= "https://cors-anywhere.herokuapp.com/"
		function LoadFormThanhToan() {
			$.ajax({
				url: cors+"https://thongtindoanhnghiep.co/api/city/",
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					var v = data.LtsItem;
					var chuoi = '';
					$.each(v, function (k, v) {
						chuoi += '<option selected value="' + v.ID + '">' + v.Title + '</option>';
					});
					$('div.form-row select#TinhTP').append(chuoi);
				}
			});
		};
		function LoadHuyen() {
			var idTinh = $('div.form-row select#TinhTP').val();
			$.ajax({
				url: cors + "https://thongtindoanhnghiep.co/api/city/" + idTinh + "/district/",
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					var v = data;
					var chuoi = '';
					$.each(v, function (k, v) {
						chuoi += '<option selected value="' + v.ID + '">' + v.Title + '</option>';
					});
					$('div.form-row select#QuanHuyen').append(chuoi);
				}
			});
		};
		function LoadXa() {
			var idhuyen = $('div.form-row select#QuanHuyen').val();
			$.ajax({
				url: cors + "https://thongtindoanhnghiep.co/api/district/" + idhuyen + "/ward",
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					var v = data;
					var chuoi = '';
					$.each(v, function (k, v) {
						chuoi += '<option selected value="' + v.ID + '">' + v.Title + '</option>';
					});
					$('div.form-row select#PhuongXa').append(chuoi);
				}
			});
		}

		$('form#HoaDonSP').submit(function (e) {
			e.preventDefault();
			var r = confirm("Bạn xác nhận thanh toán");
			ShoppingCartItem = JSON.parse(sessionStorage["GioHang"].toString());
			var giohang = [];
			for (i in ShoppingCartItem) {
				var item = {
					Id: ShoppingCartItem[i].Id,
					SoLuong: ShoppingCartItem[i].SoLuong,
					DonGia: ShoppingCartItem[i].SoLuong * ShoppingCartItem[i].Gia,
					Email: $('form#HoaDonSP #inputEmail').val(),
					TrangThai: 'Đặt hàng'
				};
				giohang.push(item);
			}
			if (r) {
				var User = {
					HoTen: $('form#HoaDonSP #HoTen').val(),
					DiaChi: $('form#HoaDonSP #SoNha').val() + ' ' + $('form#HoaDonSP #PhuongXa option:selected').text() + ' ' + $('form#HoaDonSP #QuanHuyen option:selected').text() + ' ' + $('form#HoaDonSP #TinhTP option:selected').text(),
					Email: $('form#HoaDonSP #inputEmail').val(),
					DienThoai: $('form#HoaDonSP #SDT').val()
				};
				//$.post(urlRoot + 'HoaDons/PostHoaDon/', { "giohang":giohang,"hoaDon":User }, function () {
				//	console.log('Đặt hàng thành công');
				//	$('div#myModal').modal('hide');
				//	sessionStorage["GioHang"] = JSON.stringify([]);
				//	LoadDSGioHang();
				//}, function (data) {
				//	console.log(data);
				//});
				$.ajax({
					url: urlRoot + 'HoaDons/PostHoaDon/',
					type: 'Post',
					dataType: 'json',
					data: { "giohang": giohang, "hoaDon": User },
					success: function (data) {
						alert("Đặt hàng thành công");
						window.location='@Url.Action("Index","Home")'
						sessionStorage["GioHang"] = JSON.stringify([]);
						LoadDSGioHang();
						HienThi();
					},
					error: function (data) {
						alert("Đặt hàng thất bại");
					}
				});
			}
			else {
				window.location = '@Url.Action("GetDonHang","SanPham")';
			}

		});

	</script>
	
}
