<div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
        <ul class="nav" id="side-menu" style="margin-top:19px;">
            <li style="border-top:1px solid #eee">
                @Html.ActionLink("Tài khoản", "TaiKhoan", "Home")
            </li>
            <li>
                @Html.ActionLink("Sản phẩm", "SanPham", "Home")
            </li>
            <li>
               @Html.ActionLink("Loại sản phẩm","LoaiSanPham","Home")
            </li>
        </ul>
    </div>
</div>