USE [DBSanPhamDoAn]
GO
/****** Object:  Table [dbo].[HinhAnhSP]    Script Date: 3/1/2018 2:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhSP](
	[Id_HA] [int] IDENTITY(1,1) NOT NULL,
	[DiaChi] [nvarchar](150) NULL,
	[Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_HA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[HinhAnhSP] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[HoaDon]    Script Date: 3/1/2018 2:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDon](
	[Id_HoaDon] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](255) NOT NULL,
	[DiaChi] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](255) NOT NULL,
	[DienThoai] [nvarchar](14) NOT NULL,
	[fax] [int] NOT NULL,
	[Cty] [nvarchar](255) NOT NULL,
	[NgayDat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_HoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[HoaDon] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[HoaDonSanPham]    Script Date: 3/1/2018 2:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoaDonSanPham](
	[Id] [int] NOT NULL,
	[Id_HoaDon] [int] NOT NULL,
	[SoLuong] [int] NOT NULL,
	[DonGia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC,
	[Id_HoaDon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[HoaDonSanPham] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[LienHe]    Script Date: 3/1/2018 2:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LienHe](
	[Id_LienHe] [int] IDENTITY(1,1) NOT NULL,
	[HoTen] [nvarchar](50) NOT NULL,
	[Cty] [nvarchar](150) NOT NULL,
	[Email] [nvarchar](150) NOT NULL,
	[DienThoai] [nvarchar](14) NOT NULL,
	[Fax] [int] NOT NULL,
	[DiaChi] [nvarchar](150) NOT NULL,
	[NoiDung] [nvarchar](255) NOT NULL,
	[NgayLienHe] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_LienHe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[LienHe] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[LoaiSanPham]    Script Date: 3/1/2018 2:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiSanPham](
	[Id_Loai] [int] IDENTITY(1,1) NOT NULL,
	[TenLoaiSp] [nvarchar](150) NOT NULL,
	[Id_Nhom] [int] NOT NULL,
	[GhiChu] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[LoaiSanPham] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[NhomSanPham]    Script Date: 3/1/2018 2:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomSanPham](
	[Id_Nhom] [int] IDENTITY(1,1) NOT NULL,
	[TenNhom] [nvarchar](150) NOT NULL,
	[ChuThich] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Nhom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[NhomSanPham] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 3/1/2018 2:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Loai] [int] NOT NULL,
	[TenSp] [nvarchar](150) NOT NULL,
	[MauMuc] [nvarchar](150) NULL,
	[KichThuoc] [nvarchar](20) NULL,
	[Gia] [int] NOT NULL,
	[GhiChu] [nvarchar](150) NULL,
	[SoLuongBan] [int] NULL,
	[NgayCapNhat] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER AUTHORIZATION ON [dbo].[SanPham] TO  SCHEMA OWNER 
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 3/1/2018 2:45:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Username] [varchar](32) NOT NULL,
	[Password] [varchar](32) NOT NULL,
	[Name] [varchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER AUTHORIZATION ON [dbo].[TaiKhoan] TO  SCHEMA OWNER 
GO
SET IDENTITY_INSERT [dbo].[HinhAnhSP] ON 

INSERT [dbo].[HinhAnhSP] ([Id_HA], [DiaChi], [Id]) VALUES (1, N'http://media.bizwebmedia.net/Sites/1179/data/images/2018/3/1607553b0474_4.jpg', 1)
INSERT [dbo].[HinhAnhSP] ([Id_HA], [DiaChi], [Id]) VALUES (2, N'http://media.bizwebmedia.net/Sites/1179/data/images/2018/3/1606018b0474_1.jpg', 1)
INSERT [dbo].[HinhAnhSP] ([Id_HA], [DiaChi], [Id]) VALUES (3, N'http://media.bizwebmedia.net/Sites/1179/data/images/2018/3/1607585b0474_3.jpg', 1)
GO
SET IDENTITY_INSERT [dbo].[HinhAnhSP] OFF
SET IDENTITY_INSERT [dbo].[LoaiSanPham] ON 

INSERT [dbo].[LoaiSanPham] ([Id_Loai], [TenLoaiSp], [Id_Nhom], [GhiChu]) VALUES (1, N'Bút bi', 1, NULL)
INSERT [dbo].[LoaiSanPham] ([Id_Loai], [TenLoaiSp], [Id_Nhom], [GhiChu]) VALUES (2, N'Bút bi nước', 1, NULL)
INSERT [dbo].[LoaiSanPham] ([Id_Loai], [TenLoaiSp], [Id_Nhom], [GhiChu]) VALUES (3, N'Bút chì', 1, NULL)
SET IDENTITY_INSERT [dbo].[LoaiSanPham] OFF
SET IDENTITY_INSERT [dbo].[NhomSanPham] ON 

INSERT [dbo].[NhomSanPham] ([Id_Nhom], [TenNhom], [ChuThich]) VALUES (1, N'Bút', NULL)
INSERT [dbo].[NhomSanPham] ([Id_Nhom], [TenNhom], [ChuThich]) VALUES (2, N'Sổ & Vở', NULL)
INSERT [dbo].[NhomSanPham] ([Id_Nhom], [TenNhom], [ChuThich]) VALUES (3, N'Đồ dùng thông minh', NULL)
SET IDENTITY_INSERT [dbo].[NhomSanPham] OFF
SET IDENTITY_INSERT [dbo].[SanPham] ON 

INSERT [dbo].[SanPham] ([Id], [Id_Loai], [TenSp], [MauMuc], [KichThuoc], [Gia], [GhiChu], [SoLuongBan], [NgayCapNhat]) VALUES (1, 2, N'Bút bi nước Sunshine B0474 10g', N'', N'', 7000, NULL, 97, CAST(N'2018-03-01 14:36:48.630' AS DateTime))
INSERT [dbo].[SanPham] ([Id], [Id_Loai], [TenSp], [MauMuc], [KichThuoc], [Gia], [GhiChu], [SoLuongBan], [NgayCapNhat]) VALUES (2, 2, N'Bút bi nước hero B0473 15g', N'', N'', 8000, NULL, 62, CAST(N'2018-03-01 14:36:51.600' AS DateTime))
INSERT [dbo].[SanPham] ([Id], [Id_Loai], [TenSp], [MauMuc], [KichThuoc], [Gia], [GhiChu], [SoLuongBan], [NgayCapNhat]) VALUES (3, 2, N'Bút bi nước hình voi B0472 10g', N'', N'', 6000, NULL, 48, CAST(N'2018-03-01 14:36:52.057' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[SanPham] OFF
ALTER TABLE [dbo].[HinhAnhSP]  WITH CHECK ADD  CONSTRAINT [pk4] FOREIGN KEY([Id])
REFERENCES [dbo].[SanPham] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HinhAnhSP] CHECK CONSTRAINT [pk4]
GO
ALTER TABLE [dbo].[HoaDonSanPham]  WITH CHECK ADD  CONSTRAINT [pk2] FOREIGN KEY([Id])
REFERENCES [dbo].[SanPham] ([Id])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonSanPham] CHECK CONSTRAINT [pk2]
GO
ALTER TABLE [dbo].[HoaDonSanPham]  WITH CHECK ADD  CONSTRAINT [pk3] FOREIGN KEY([Id_HoaDon])
REFERENCES [dbo].[HoaDon] ([Id_HoaDon])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[HoaDonSanPham] CHECK CONSTRAINT [pk3]
GO
ALTER TABLE [dbo].[LoaiSanPham]  WITH CHECK ADD  CONSTRAINT [pk] FOREIGN KEY([Id_Nhom])
REFERENCES [dbo].[NhomSanPham] ([Id_Nhom])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LoaiSanPham] CHECK CONSTRAINT [pk]
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD  CONSTRAINT [pk1] FOREIGN KEY([Id_Loai])
REFERENCES [dbo].[LoaiSanPham] ([Id_Loai])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SanPham] CHECK CONSTRAINT [pk1]
GO
