<div class="cart icon1 sub-icon1">
	<h6>
		Shopping Cart:
		<span class="item"></span>
		<span class="rate"></span>
		<li>
			<a href="#" class="round"> </a>
			<ul class="sub-icon1 list">
				<div class="check_button"><a href="@Url.Action("GetDonHang","SanPham")">View Cart</a></div>
				<div class="clearfix"></div>
			</ul>
		</li>
	</h6>

</div>
<script>
	var chuoi = '';
	var arr = JSON.parse(localStorage.getItem("GioHang"), []);
	console.log(arr);
	if (arr) {
		chuoi += '<h3>Số lượng sản phẩm(' + arr.length + ')</h3>';
		chuoi += '<div class="shopping_cart">';
		for (var i = 0; i < arr.length; i++) {
			var v = arr[i];
			chuoi += '<div class="cart_box">';
			chuoi += '<div class="message">';
			chuoi += '<div class="alert-close"> </div>';
			chuoi += '<div class="list_img"><img src="' + v.HinhAnhSPs[0].DiaChi + '" class="img-responsive" alt=""></div>';
			chuoi += '<div class="list_desc">';
			chuoi += '<h4><a href="#">' + v.TenSp + '</a></h4>';
			chuoi += '<a href="#" class="offer">' + v.Gia + '</a>';
			chuoi += '</div>';
			chuoi += '	<div class="clearfix"></div>';
			chuoi += '</div></div></div>';
		}
		$('div.cart ul.list').append(chuoi);
		$('div.cart span.item').append(arr.length + ' items');
		$('div.cart span.rate').append('0 vnd');
	}
	else {
		$('div.cart span.item').append('0 items');
		$('div.cart span.rate').append('0 vnd');
	}
</script>
